.ya-btn {
  background: #87d4cc;
  color: white;
  margin: 0 6px;
  padding: 4px 6px;
  border: 1px solid rgba(255, 255, 255, 0);
  text-align: center;
  transition: all 0.5s;
  font-size: 14px;
}
.ya-btn.radius {
  border-radius: 10px;
}
.ya-btn.small {
  padding: 1px;
  font-size: 14px;
}
.ya-btn.big {
  padding: 6px 6px;
  font-size: 16px;
}
.ya-btn.biggest {
  padding: 8px 8px;
  font-size: 17px;
}
.ya-btn.white {
  background: white;
  color: #6f6f6f;
}
.ya-btn.grey {
  background: #f5f4f4;
  color: #6f6f6f;
}
.ya-btn.blue {
  background: #5cccda;
}
.ya-btn.red {
  background: #fd8880;
}
.ya-btn.orange {
  background: #ffad49;
}
.ya-btn.green {
  background: #44e293;
}
.ya-btn:hover,
.ya-btn.outline:hover {
  background: #009688;
  cursor: pointer;
  border: 1px solid #009688;
  color: white;
}
.ya-btn:hover.white,
.ya-btn:hover.grey,
.ya-btn.outline.white:hover,
.ya-btn.outline.grey:hover {
  color: #6f6f6f;
  background: #e2e2e2;
  border: 1px solid #e2e2e2;
}
.ya-btn:hover.blue,
.ya-btn.outline.blue:hover {
  background: #009fb7;
  border: 1px solid #009fb7;
}
.ya-btn:hover.red,
.ya-btn.outline.red:hover {
  background: #de4f4f;
  border: 1px solid #de4f4f;
}
.ya-btn:hover.orange,
.ya-btn.outline.orange:hover {
  background: #de8500;
  border: 1px solid #de8500;
}
.ya-btn:hover.green,
.ya-btn.outline.green:hover {
  background: #00b35a;
  border: 1px solid #00b35a;
}
.ya-btn:active {
  background: #008777;
  cursor: pointer;
  border: 1px solid #008777;
  border-radius: 6px;
  color: white;
}
.ya-btn:active.white,
.ya-btn:active.grey,
.ya-btn.outline.white:active,
.ya-btn.outline.grey:active {
  color: #6f6f6f;
  background: #dadada;
  border: 1px solid #dadada;
}
.ya-btn:active.blue,
.ya-btn.outline.blue:active {
  background: #006887;
  border: 1px solid #006887;
}
.ya-btn:active.red,
.ya-btn.outline.red:active {
  background: #872d2d;
  border: 1px solid #872d2d;
}
.ya-btn:active.orange,
.ya-btn.outline.orange:active {
  background: #875600;
  border: 1px solid #875600;
}
.ya-btn:active.green,
.ya-btn.outline.green:active {
  background: #008738;
  border: 1px solid #008738;
}
.ya-btn.outline {
  background: white;
  border: 1px solid #009688;
  color: #87d4cc;
}
.ya-btn.outline.white {
  color: #6f6f6f;
  border: 1px solid #ddd9d9;
}
.ya-btn.outline.white:hover {
  border: 1px solid #c9c9c9;
}
.ya-btn.outline.white:active {
  border: 1px solid #c9c9c9;
}
.ya-btn.outline.grey {
  color: #6f6f6f;
  border: 1px solid #6f6f6f;
}
.ya-btn.outline.grey:hover {
  color: white;
}
.ya-btn.outline.grey:active {
  color: white;
}
.ya-btn.outline.blue {
  color: #5cccda;
  border: 1px solid #5cccda;
}
.ya-btn.outline.blue:hover {
  color: white;
}
.ya-btn.outline.blue:active {
  color: white;
}
.ya-btn.outline.red {
  color: #fd8880;
  border: 1px solid #fd8880;
}
.ya-btn.outline.red:hover {
  color: white;
}
.ya-btn.outline.red:active {
  color: white;
}
.ya-btn.outline.orange {
  color: #ffad49;
  border: 1px solid #ffad49;
}
.ya-btn.outline.orange:hover {
  color: white;
}
.ya-btn.outline.orange:active {
  color: white;
}
.ya-btn.outline.green {
  color: #44e293;
  border: 1px solid #44e293;
}
.ya-btn.outline.green:hover {
  color: white;
}
.ya-btn.outline.green:active {
  color: white;
}
.ya-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.ya-btn.disabled:hover {
  border-radius: 10px;
  opacity: 0.2;
}
.ya-groupBtn {
  margin: 0 6px;
}
.ya-groupBtn .ya-btn.radius:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ya-groupBtn .ya-btn {
  border-radius: 0;
  margin: 0 -1px;
}
.ya-groupBtn .ya-btn.radius:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ya-p .content {
  padding: 10px 0;
  border-radius: 6px;
}
/*# sourceMappingURL=button.css.map */