.ya-content{
    overflow: auto;
    padding: 2px;
    margin-bottom: 80px;
}
.ya-article{
    .title{
    }
    .info{

    }
    .info{
        color: #888;
        font-size: 12px;
        padding: 10px 5px;
        margin: 0 0 10px 0;
        background: aliceblue;
        outline: 1px solid #f3f3f3;
        .item{
            padding: 0 10px;
            margin: 0 2px;
        }
        .author{
        }
        .authorName{
            font-weight: 800;
        }
        .tag{
            background: #ff5f5f;
            color: white;
            border-radius: 3px;
        }
        .issuingTime{

        }
        .readingNum{

        }
        .commentNum{

        }
        .collectNum{

        }
        svg{
            vertical-align: bottom;
            margin-right: 5px;
        }
    }
}
/** 富文本 */
.ya-richText{
    box-shadow: 0 2px 16px #c3c1c1;
    margin: 15px 15px 0 15px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: white;
    .ya-richTextBtn{
        height: 25px;
        min-width: 25px;
        padding: 0 5px;
        margin: 1px;
        display: inline-block;
        border: 0;
        background: white;
        font: unset;
        font-size: 14px;
        outline:medium;
        &:hover{
            border: 1px solid #18ab9c;
            background: #e7fffd;
            box-sizing: border-box;
            margin: 0;
            cursor: pointer;
            animation: all 0.5s;
            border-radius: 5px;
        }
        &:active{
            background: #c2f7f2;
            border-radius: 5px;
        }
        &.save{
            color: white;
            background: #ec5356;
            padding: 0 15px;
            margin: 0 5px;
            border-radius: 3px;
            font-size: 14px;
            &:hover{
                border: 0;
                background: #ff3536;
                margin: 0 5px;
                cursor: pointer;
                font: unset;
                font-size: 14px;
            }
            &:active{
                background: #ca0001;
            }

        }
        &.true{
            display: none;
        }
        &.minimize{
            float: right;
            display: inline-block;
        }
    }
    .html{
        font-size: 14px;
        margin: 0 5px;
    }
}

