.ya-fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}
.ya-absolute {
  position: absolute;
  top: 0;
  z-index: 100;
}
/* 单选框 */
.ya-radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.ya-radio + .radioText::before {
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-indent: 4px;
  margin-bottom: 4px;
  border: 1px solid #CCCCCC;
}
.ya-radio:checked + .radioText::before {
  background-color: #009688;
  background-clip: content-box;
  padding: 2px;
  width: 12px;
  height: 12px;
}
/* 动画 */
.ya-rotationInfinite {
  display: inline-block;
  transition: 0.5s;
  animation: rotate360 0.7s linear infinite;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 行列 */
.ya-rows {
  display: flex;
}
.ya-rows .row {
  flex: auto;
}
.ya-flex {
  display: flex;
}
.ya-flex.ya-align-center {
  align-items: center;
}
.ya-flex.ya-align-bottom {
  align-items: flex-end;
}
.ya-flex .ya-flex-auto {
  flex: auto;
}
.ya-flex .ya-flex-1 {
  flex: 1;
}
.ya-flex .ya-flex-2 {
  flex: 2;
}
.ya-flex .ya-flex-3 {
  flex: 3;
}
.ya-flex .ya-flex-4 {
  flex: 4;
}
.ya-flex .ya-flex-5 {
  flex: 5;
}
.ya-flex .ya-flex-6 {
  flex: 6;
}
/* 索引（面包屑导航） */
.ya-indexBar {
  color: #585858;
  margin-bottom: 4px;
  border-bottom: 2px solid #009688;
  padding: 2px;
  overflow-x: auto;
  white-space: nowrap;
  word-break: break-all;
}
.ya-indexBar .item {
  font-size: 13px;
}
.ya-indexBar .item:hover {
  color: #03A9F4;
  cursor: pointer;
}
.ya-indexBar .item svg {
  vertical-align: text-bottom;
}
.ya-indexBar .item:after {
  color: #CCCCCC;
  content: "/";
  font-size: 12px;
  padding: 0 6px;
}
.ya-indexBar .item:last-child {
  color: #03A9F4;
  cursor: pointer;
}
.ya-indexBar .item:last-child:after {
  content: "";
}
.ya-mask .ya-mask-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background: #ffffff00;
}
.ya-header {
  text-align: center;
  width: 100%;
}
.ya-header-main {
  display: inline-block;
  vertical-align: middle;
}
.ya-header-main a svg {
  transition: all 0.3s;
  height: 40px;
  width: 40px;
}
.ya-header-main:hover a svg {
  height: 46px;
  width: 46px;
  margin: 5px;
}
.ya-header-main .name {
  font-weight: 600;
  font-size: 20px;
}
.ya-header-main.center a {
  flex: 1;
  text-align: right;
}
.ya-header-main.center .name {
  flex: 1.5;
  text-align: left;
}
.ya-nav-simple {
  text-align: center;
  color: white;
  background: linear-gradient(to right, #ef5252, #6f6ff1);
  padding: 8px;
  margin: 6px;
  border-radius: 16px;
}
.ya-menu {
  position: fixed;
  left: 0;
  z-index: 999;
}
.ya-menu .content {
  display: inline-block;
}
.ya-menu .content.hide {
  display: none;
}
.ya-menu .toggle {
  position: absolute;
  margin: 0 0 0 -1px;
  padding: 12px 6px;
  border-radius: 0 8px 8px 0;
}
.ya-main {
  padding: 0 200px;
  transition: all 0.3s;
  overflow: auto;
}
@media only screen and (max-width: 900px) {
  .ya-main {
    padding: 0 16px;
  }
  .ya-main-contain {
    margin: 20px 0;
  }
}
.ya-footer {
  position: fixed;
  bottom: 0;
  font-size: 10px;
  color: #8c8c8c;
  text-align: center;
  width: 100%;
}
.ya-footer .copyright {
  color: #8c8c8c;
  text-decoration: none;
  cursor: pointer;
}
.ya-footer .copyright:hover {
  color: blue;
}
.ya-footer .publicSafety {
  height: 14px;
  width: 14px;
  margin-right: 2px;
  vertical-align: text-bottom;
}
.ya-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  text-align: center;
  z-index: 10000;
}
.ya-loading .loader3 {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
/*# sourceMappingURL=index.css.map */
/*# sourceMappingURL=index.css.map */