.ya-btn {
  background: #87d4cc;
  color: white;
  margin: 0 5px;
  padding: 4px 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  text-align: center;
  transition: all 0.5s;
  font-size: 14px;
}
.ya-btn.radius {
  border-radius: 10px;
}
.ya-btn.circular {
  border-radius: 50% !important;
  padding: 12px;
  width: 50px;
  height: 50px;
}
.ya-btn.adaptive {
  display: block;
}
.ya-btn.shadow {
  box-shadow: 0 5px 10px 0 #ade1dc;
}
.ya-btn.shadow:hover {
  box-shadow: 0 7px 10px 0 #bfe8e4;
}
.ya-btn.shadow:active {
  box-shadow: 0 10px 10px 0 #d2efec;
}
.ya-btn.shadow.white {
  background: white;
  box-shadow: 0 5px 10px 0 #d5d5d5;
}
.ya-btn.shadow.white:hover {
  box-shadow: 0 7px 10px 0 #959595;
}
.ya-btn.shadow.white:active {
  box-shadow: 0 10px 10px 0 #a2a2a2;
}
.ya-btn.shadow.grey {
  box-shadow: 0 5px 10px 0 #d5d5d5;
}
.ya-btn.shadow.grey:hover {
  box-shadow: 0 7px 10px 0 #959595;
}
.ya-btn.shadow.grey:active {
  box-shadow: 0 10px 10px 0 #a2a2a2;
}
.ya-btn.shadow.blue {
  background: #5cccda;
  box-shadow: 0 5px 10px 0 #86d9e3;
}
.ya-btn.shadow.blue:hover {
  box-shadow: 0 7px 10px 0 #9ae0e8;
}
.ya-btn.shadow.blue:active {
  box-shadow: 0 10px 10px 0 #afe6ed;
}
.ya-btn.shadow.red {
  background: #fd8880;
  box-shadow: 0 5px 10px 0 #feb7b2;
}
.ya-btn.shadow.red:hover {
  box-shadow: 0 7px 10px 0 #fecfcb;
}
.ya-btn.shadow.red:active {
  box-shadow: 0 10px 10px 0 #ffe6e4;
}
.ya-btn.shadow.orange {
  background: #ffad49;
  box-shadow: 0 5px 10px 0 #ffc47c;
}
.ya-btn.shadow.orange:hover {
  box-shadow: 0 7px 10px 0 #ffcf96;
}
.ya-btn.shadow.orange:active {
  box-shadow: 0 10px 10px 0 #ffdbaf;
}
.ya-btn.shadow.green {
  background: #44e293;
  box-shadow: 0 5px 10px 0 #70e9ad;
}
.ya-btn.shadow.green:hover {
  box-shadow: 0 7px 10px 0 #86ecb9;
}
.ya-btn.shadow.green:active {
  box-shadow: 0 10px 10px 0 #9cf0c6;
}
.ya-btn.smallest {
  padding: 0 2px;
  font-size: 10px;
  width: 20px;
  height: 20px;
}
.ya-btn.smallest.circular {
  padding: 2px;
}
.ya-btn.smaller {
  padding: 2px 2px;
  font-size: 13px;
}
.ya-btn.smaller.circular {
  padding: 2px;
  width: 30px;
  height: 30px;
}
.ya-btn.small {
  padding: 3px 4px;
  font-size: 14px;
}
.ya-btn.small.circular {
  padding: 1px;
  width: 40px;
  height: 40px;
}
.ya-btn.big {
  padding: 6px 6px;
  font-size: 15px;
}
.ya-btn.big.circular {
  padding: 2px;
  width: 60px;
  height: 60px;
}
.ya-btn.bigger {
  padding: 7px 7px;
  font-size: 16px;
}
.ya-btn.bigger.circular {
  padding: 2px;
  width: 70px;
  height: 70px;
}
.ya-btn.biggest {
  padding: 8px 8px;
  font-size: 17px;
}
.ya-btn.biggest.circular {
  width: 80px;
  height: 80px;
}
.ya-btn.white {
  background: white;
  color: #6f6f6f;
}
.ya-btn.grey {
  background: #f5f4f4;
  color: #6f6f6f;
}
.ya-btn.blue {
  background: #5cccda;
}
.ya-btn.red {
  background: #fd8880;
}
.ya-btn.orange {
  background: #ffad49;
}
.ya-btn.green {
  background: #44e293;
}
.ya-btn:hover,
.ya-btn.outline:hover {
  background: #009688;
  cursor: pointer;
  border: 1px solid #009688;
  border-radius: 5px;
  color: white;
}
.ya-btn:hover.white,
.ya-btn:hover.grey,
.ya-btn.outline.white:hover,
.ya-btn.outline.grey:hover {
  color: #6f6f6f;
  background: #e2e2e2;
  border: 1px solid #e2e2e2;
}
.ya-btn:hover.blue,
.ya-btn.outline.blue:hover {
  background: #009fb7;
  border: 1px solid #009fb7;
}
.ya-btn:hover.red,
.ya-btn.outline.red:hover {
  background: #de4f4f;
  border: 1px solid #de4f4f;
}
.ya-btn:hover.orange,
.ya-btn.outline.orange:hover {
  background: #de8500;
  border: 1px solid #de8500;
}
.ya-btn:hover.green,
.ya-btn.outline.green:hover {
  background: #00b35a;
  border: 1px solid #00b35a;
}
.ya-btn:active {
  background: #008777;
  cursor: pointer;
  border: 1px solid #008777;
  border-radius: 5px;
  color: white;
}
.ya-btn:active.white,
.ya-btn:active.grey,
.ya-btn.outline.white:active,
.ya-btn.outline.grey:active {
  color: #6f6f6f;
  background: #dadada;
  border: 1px solid #dadada;
}
.ya-btn:active.blue,
.ya-btn.outline.blue:active {
  background: #006887;
  border: 1px solid #006887;
}
.ya-btn:active.red,
.ya-btn.outline.red:active {
  background: #872d2d;
  border: 1px solid #872d2d;
}
.ya-btn:active.orange,
.ya-btn.outline.orange:active {
  background: #875600;
  border: 1px solid #875600;
}
.ya-btn:active.green,
.ya-btn.outline.green:active {
  background: #008738;
  border: 1px solid #008738;
}
.ya-btn.outline {
  background: white;
  border: 1px solid #009688;
  color: #87d4cc;
}
.ya-btn.outline.white {
  color: #6f6f6f;
  border: 1px solid #ddd9d9;
}
.ya-btn.outline.white:hover {
  border: 1px solid #c9c9c9;
}
.ya-btn.outline.white:active {
  border: 1px solid #c9c9c9;
}
.ya-btn.outline.grey {
  color: #6f6f6f;
  border: 1px solid #6f6f6f;
}
.ya-btn.outline.grey:hover {
  color: white;
}
.ya-btn.outline.grey:active {
  color: white;
}
.ya-btn.outline.blue {
  color: #5cccda;
  border: 1px solid #5cccda;
}
.ya-btn.outline.blue:hover {
  color: white;
}
.ya-btn.outline.blue:active {
  color: white;
}
.ya-btn.outline.red {
  color: #fd8880;
  border: 1px solid #fd8880;
}
.ya-btn.outline.red:hover {
  color: white;
}
.ya-btn.outline.red:active {
  color: white;
}
.ya-btn.outline.orange {
  color: #ffad49;
  border: 1px solid #ffad49;
}
.ya-btn.outline.orange:hover {
  color: white;
}
.ya-btn.outline.orange:active {
  color: white;
}
.ya-btn.outline.green {
  color: #44e293;
  border: 1px solid #44e293;
}
.ya-btn.outline.green:hover {
  color: white;
}
.ya-btn.outline.green:active {
  color: white;
}
.ya-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.ya-btn.disabled:hover {
  border-radius: 10px;
  opacity: 0.2;
}
.ya-btn.press {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 5px 0 #41b4a8, 0 15px 20px rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.2s ease-in-out;
  padding: 0;
  border: 0;
}
.ya-btn.press:hover {
  background: rgba(255, 255, 255, 0);
  border: 0;
}
.ya-btn.press:active span {
  transform: translate(0, 4px);
}
.ya-btn.press span {
  display: inline-block;
  padding: 6px;
  text-shadow: 0 -1px 1px #87d4cc;
  background: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#61c7bc), to(#87d4cc));
  border-radius: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  transition: transform 0.2s ease-in-out;
}
.ya-btn.press.smallest span {
  padding: 2px 10px;
  border-radius: 10px;
}
.ya-btn.press.smaller span {
  padding: 3px 10px;
  border-radius: 10px;
}
.ya-btn.press.small span {
  padding: 4px 10px;
  border-radius: 10px;
}
.ya-btn.press.big span {
  padding: 8px 10px;
  border-radius: 10px;
}
.ya-btn.press.bigger span {
  padding: 9px 10px;
  border-radius: 10px;
}
.ya-btn.press.biggest span {
  padding: 10px 10px;
  border-radius: 10px;
}
.ya-btn.press.grey {
  box-shadow: 0 5px 0 #c4bfbf, 0 15px 20px rgba(0, 0, 0, 0.35);
}
.ya-btn.press.grey span {
  text-shadow: 0 -1px 1px #f5f4f4;
  background: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#ddd9d9), to(#f5f4f4));
  background: #f5f4f4;
  color: #6f6f6f;
}
.ya-btn.press.blue {
  box-shadow: 0 5px 0 #269baa, 0 15px 20px rgba(0, 0, 0, 0.35);
}
.ya-btn.press.blue span {
  text-shadow: 0 -1px 1px #5cccda;
  background: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#32bfd1), to(#5cccda));
  background: #5cccda;
}
.ya-btn.press.red {
  box-shadow: 0 5px 0 #fb2a1c, 0 15px 20px rgba(0, 0, 0, 0.35);
}
.ya-btn.press.red span {
  text-shadow: 0 -1px 1px #fd8880;
  background: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#fc594e), to(#fd8880));
  background: #fd8880;
}
.ya-btn.press.orange {
  box-shadow: 0 5px 0 #e27c00, 0 15px 20px rgba(0, 0, 0, 0.35);
}
.ya-btn.press.orange span {
  text-shadow: 0 -1px 1px #ffad49;
  background: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#ff9616), to(#ffad49));
  background: #ffad49;
}
.ya-btn.press.green {
  box-shadow: 0 5px 0 #1aa660, 0 15px 20px rgba(0, 0, 0, 0.35);
}
.ya-btn.press.green span {
  text-shadow: 0 -1px 1px #44e293;
  background: -webkit-gradient(linear, 0% 0%, 5% 100%, from(#21d27a), to(#44e293));
  background: #44e293;
}
.ya-groupBtn .ya-btn.radius:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ya-groupBtn .ya-btn {
  border-radius: 0;
  margin: 0 -1px;
}
.ya-groupBtn .ya-btn.radius:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content {
  padding: 10px 0;
  border-radius: 5px;
}
/*# sourceMappingURL=button.css.map */