.ya-photo{
  display:flex;
  flex-wrap:wrap;
  margin: 2px;
  .item{
    margin: 2px;
    background-color: violet;
    position: relative;
    img{
      position: absolute;
      vertical-align: bottom;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}