#container {
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.ya-weather .widget {
  width: 100%;
  position: absolute;
  transform: translateY(400px);
}
.ya-weather .widget::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.ya-weather .widget .loader3 {
  background: white;
}
.ya-weather .widget .main {
  margin: 10px 12px 0;
}
.ya-weather .widget .main .row {
  margin: 0 0 8px 0;
  padding: 10px;
  background: white;
  border-radius: 10px;
  line-height: 24px;
  font-size: 16px;
}
.ya-weather .widget .main .row .icon {
  width: 22px;
  height: 22px;
}
.ya-weather .widget .main .row .column {
  flex: 1;
}
.ya-weather .widget .main .row .content {
  padding: 0 5px;
  line-height: 22px;
  vertical-align: text-bottom;
  display: inline-block;
}
.ya-weather .widget .main .updateTime {
  font-size: 12px;
  display: inline-block;
  color: #37393d;
  padding: 0 10px;
  margin: 0 0 5px 0;
}
.ya-weather .widget .main .location {
  display: flex;
  font-size: 13px;
  color: #6f6f6f;
  line-height: 16px;
  white-space: nowrap;
}
.ya-weather .widget .main .location .address {
  text-overflow: ellipsis;
  overflow: hidden;
}
.ya-weather .widget .main .tips .forecastKeyPoint {
  font-size: 12px;
}
.ya-weather .widget .main .warning {
  margin: 0 0 -4px 0;
  font-size: 12px;
  text-align: center;
}
.ya-weather .widget .main .warning .text {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 5px;
  background: green;
  color: white;
}
.ya-weather .widget .main .warning .text.blue {
  background: #5cccda;
}
.ya-weather .widget .main .warning .text.yellow {
  color: yellow;
}
.ya-weather .widget .main .warning .text.orange {
  color: #ffad49;
}
.ya-weather .widget .main .warning .text.red {
  color: #fd8880;
}
.ya-weather .widget .main .realTime {
  text-align: center;
}
.ya-weather .widget .main .realTime .sun {
  text-align: revert;
  font-size: 12px;
  margin: -5px 0;
  line-height: 12px;
  border: 1px solid #a7ccf1;
  border-radius: 5px;
  display: inline-block;
  background: aliceblue;
}
.ya-weather .widget .main .realTime .sun .col {
  display: inline-block;
  margin: 0 10px;
}
.ya-weather .widget .main .realTime .top {
  display: flex;
  align-items: center;
  text-align: center;
}
.ya-weather .widget .main .realTime .top .left .temperature {
  font-size: 43px;
  font-weight: 300;
  line-height: 50px;
  display: inline-block;
}
.ya-weather .widget .main .realTime .top .left .temperature .icon {
  width: 36px;
  height: 42px;
  margin-left: -10px;
}
.ya-weather .widget .main .realTime .top .left .bodyFeelingTemp {
  display: inline-block;
}
.ya-weather .widget .main .realTime .top .weatherIcon {
  text-align: center;
  font-size: 12px;
}
.ya-weather .widget .main .realTime .top .weatherIcon .iconArea .icon {
  height: 45px;
  width: 45px;
}
.ya-weather .widget .main .realTime .top .weatherIcon .skyCon .text {
  font-size: 15px;
  font-weight: 400;
  color: black;
}
.ya-weather .widget .main .realTime .min {
  flex: 1.5;
  font-size: 12px;
  color: #6f6f6f;
  line-height: 20px;
  box-sizing: border-box;
}
.ya-weather .widget .main .realTime .bottom {
  font-size: 12px;
  margin: 5px;
  padding: 0 5px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}
.ya-weather .widget .main .today {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 15px;
}
.ya-weather .widget .main .today .col {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 3px;
  margin: 2px;
  display: inline-block;
}
.ya-weather .widget .main .today .col .content {
  line-height: 26px;
}
.ya-weather .widget .main .recentDay {
  white-space: nowrap;
  text-align: center;
  font-size: 13px;
  overflow-x: auto;
}
.ya-weather .widget .main .recentDay .day {
  margin: 0 5px;
  display: inline-block;
}
/*# sourceMappingURL=weather.css.map */