#container {
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

}

.ya-weather {

  .widget {
    width: 100%;
    position: absolute;
    transform: translateY(400px);

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .loader3 {
      background: white;
    }

    .main {
      margin: 10px 10px 0;

      .row {
        margin: 5px 0;
        padding: 10px;
        background: white;
        border-radius: 10px;
        line-height: 24px;
        font-size: 16px;

        .icon {
          width: 18px;
          height: 18px;
          vertical-align: -5px;
        }

        .column {
          flex: 1;
        }

        .content {
          padding: 0 5px;
          line-height: 18px;
        }

      }

      .location {
        display: flex;
        font-size: 13px;
        color: #6f6f6f;
        line-height: 16px;
        white-space: nowrap;

        .address {
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .longLat {
        }

        .content {

        }
      }

      .tips {
        .forecastKeyPoint {
          font-size: 12px;
        }
      }

      .realTime {
        display: flex;
        align-items: center;

        .temperature {
          font-size: 43px;
          font-weight: 300;
          line-height: 50px;

          .icon {
            width: 36px;
            height: 42px;
            margin-left: -10px;
          }
        }

        .skyCon {
          .text{
            font-size: 15px;
            font-weight: 400;
            color: black;
          }
        }

        .min {
          flex: 1.5;
          font-size: 12px;
          color: #6f6f6f;
          line-height: 20px;
          box-sizing: border-box;
        }

        .weatherIcon {
          text-align: center;
          .icon {
            height: 45px;
            width: 45px;
          }


        }
      }

      .future3Day {
        white-space: pre;
        text-align: center;
        font-size: 13px;
        overflow-x: auto;
        .day{
          margin: 0 5px;
          display: inline-block;
        }
      }

    }
  }
}

.amap-logo, .amap-copyright {
  display: none !important;
}